body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "swsh=1,cswh=1,liga=1,kern=1";
  -ms-font-feature-settings: "swsh" 1, "cswh" 1, "liga" 1, "kern" 1;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-hyphens: auto;
  background-color: #fff;
  color: #111;
  max-width: 1020px;
  padding: 0 1em;
  margin: 72px auto; 
}
  
*:not(*[href])[id]:before  { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px; 
  visibility: hidden; 
}
.navbar-right {
  padding-right: 15px;
}
