body {
/*  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 26px;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "swsh=1,cswh=1,liga=1,kern=1";
  -moz-osx-font-smoothing: grayscale;
  -ms-font-feature-settings: "swsh" 1, "cswh" 1, "liga" 1, "kern" 1;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
  background-color: #fff;
  color: #111;
  max-width: 720px;
  padding: 0 1em;
  margin: 72px auto; 
}

@media screen and (min-width: 800px) {
  body {
    background-image: url(/asset/http_workshop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 280px;
  }
  .logo {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.banner {
  background-color: #eee;
  font-size: 24px;
  line-height: 32px;
  padding: 0.5em 2em;
  border-radius: 0.25em;
}

*:not(*[href])[id]:before  { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px; 
  visibility: hidden; 
}

.navbar-right {
  padding-right: 15px;
}
