<!DOCTYPE HTML> 

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/asset/site.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/asset/http_workshop.png" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="The HTTP Workshop">
    <meta property="og:description" content="An occasional gathering of HTTP experts to discuss the Web’s foundational protocol.">
    <meta property="og:url" content="https://httpworkshop.github.io/">
    <meta property="og:site_name" content="The HTTP Workshop">
    <meta property="og:image" content="https://httpworkshop.github.io/asset/http_workshop.png">
  </head>
  <body>
            
      <div class="container">
        
        <img class="logo" src="/asset/http_workshop.svg">

        {{ content }}

      </div>
    
  </body>
</html>