<!DOCTYPE HTML> 

<html lang="en">
  <head>
    <title>{{ page.title }}</title>
{% include headmatter.html %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="The HTTP Workshop">
    <meta property="og:description" content="An occasional gathering of HTTP experts to discuss the Web’s foundational protocol.">
    <meta property="og:url" content="https://httpwork.shop/">
    <meta property="og:site_name" content="The HTTP Workshop">
    <meta property="og:image" content="{{ blog_image_url }}">
  </head>
  <body>
            
      <div class="container">
        
        <img class="logo" src="/asset/http_workshop.svg">

        {{ content }}

      </div>
    {% include footer.html %}
  </body>
</html>